<app-header></app-header>
	<div class="breadcrumbs">
		<section class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>About Us</h1>
				</div>
				<div class="col-md-12">
					<div class="crumbs">
						<a href="#">Home</a>
						<span class="crumbs-span">/</span>
						<span class="current">About Us</span>
					</div>
				</div>
			</div><!-- End row -->
		</section><!-- End container -->
	</div><!-- End breadcrumbs -->
	

		<div class="main-wrapper">

			<!-- Start about Area -->
			<section class="about-area pt-100 pb-100">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 col-md-12 col-sm-12 about-left">
								<img class="img-fluid" src="assets/about/img/about.jpg" alt="">
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 about-right">
							<span class="lnr lnr-sun"></span>
							<h1 class="text-uppercase">

								<span>About Us</span> <br>
								  
							</h1>
							<h2>
								
In this fast changing times what you require are relationships and personnel who can handle the relationships and take on the spot decisions, therefore IT Solutions management believes in empowering all executives in the company to take decisions independently, thereby fostering a think-tank environment.

So when you deal with us you get a Consultant rather than a Reseller. A consultant has to be company (vendor) independent to provide the customer with a solution that suits his environment
							</h2>
							
						</div>
					</div>
				</div>
			</section>
			<!-- End about Area -->

					</div>
<div class="main-wrapper-first">
			<div class="hero-area relative">
				
				<div class="banner-area relative">
					<div class="overlay hero-overlay-bg"></div>
					<div class="container">
						<div class="row height align-items-center justify-content-center">
							<div class="col-lg-7">
								<div class="banner-content text-center">
									<h1 class="text-uppercase text-white"><span>Snipe Community</span> <br> </h1>
									<p class="text-white p-2 mb-30">
										
About Us
Snipe IT Solutions established in 2009 is a pioneer in providing world Class Consulting Services in Enterprise Solutions for the Technology Solutions covering Embedded Systems and System Software to its Global Clientele.

Snipe IT Solutions, is a professional, who provides expert advice in a particular domain or area of expertise such as IT.

SNIPE IT Solutions is a Company known for various services such as Software Development, corporate training and for Hardware and Networking solutions. This is Indian based company stationed at Bangalore.

It was established by Govindappa P.D, who is a proprietor and well known for various administrative services having experience of 25 years.

We believe in customer delight and discipline. we assure you as this is the right company to choice for various services.
									</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



<app-footer></app-footer>
